<div class="container text-center">
   <h2>confirm the OTP</h2>


   <form method="GET" action="/users/<%= user_id %>/verify_otp">
      <input name="otp" type="text">
      <button class="btn btn-primary" type="submit">submit</button>
   </form>

   <!-- <% //if(response) {%>
         <p>
            <%= //response %>
         </p>
         <% //} %> -->


</div>