<div>
   <h1>hello</h1>
   <p>this is itp generator</p>
   <p>please put your name</p>
   <form method="POST" action="/users">
      <input name="name" type="text" placeholder="Name">
      <input name="number" type="text" placeholder="Number">
      <button type="submit" onclick="(e)=>{e.preventDefault();}">submit</button>
   </form>

</div>