<div class="cotainer text-center">

   <h3>Please enter you number to generate OTP</h3>

   <form method="POST" action="/users/generateotp">
      <input name="number" type="text">
      <button class="btn btn-primary" type="submit">submit</button>
   </form>
</div>